ody {
    background-color: #f0c36f;
}

h1{
color:  #ff8704;
text-align: center;
}


a {
  margin: 0;
  padding: 1px 16px;
  width: 70px;
  height: 50px;
  color: white;
  display: block;
  background-image: linear-gradient(to right, #f0c36f, #f3b657, #f6a83f, #fa9826, #ff8704);

}


 aside {
  margin-left:25%;
  padding:1px 16px;
  height:100px;
}


h2 {
    color: #ff8704;
    text-align: center;
}

footer {
  background-image: linear-gradient(to right, #f0c36f, #f3b657, #f6a83f, #fa9826, #ff8704);
  text-align: center;
  padding: 10px;
}

